/* ── Colors ─────────────────────────────────────────────── */
:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-orange: #ff8400;
  --color-light-blue: #8fa0d8;
  --color-dark-blue: #0b0829;
  --color-cream: #f9dfc6;
}